<!DOCTYPE html>
<html lang='en'>

<head>
 <meta name='viewport' content='with=device_with, initial-scale=1,maximun-scale=1' user-scalable='no'>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
 <!--los estilos personales después de boostrap. Si queremos cambiar el estilo del boostrap lo podemos hacer en nuestro archivo css creado para ese fin-->
 <link rel='stylesheet' type='text/css' href=''>
 <title>Login</title>
</head>

<body>


 <nav class="navbar navbar-expand-lg  sticky-top navbar-dark bg-primary">
  <div class="container-fluid">
   <a class="navbar-brand" href="/"><strong> <i class="fa fa-rebel" aria-hidden="true"></i></strong></a>


   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
      <a class="nav-link" href="/admin">Administrador</a>
     </li>
    </ul>
   </div>

   <a class="navbar-brand">Bienvenido, <%=user.name%>(Administrador)</a>
   <div class="nav navbar-nav navbar-right">
    <a href="/logout" class="navbar-brand"><strong><i class="fa fa-sign-out" aria-hidden="true"></i>
      Logout</strong></a>
   </div>
  </div>
 </nav>


 <div class="container">

  <img src="../img/normal.jpg" alt="">
 </div>